html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
.center {
    max-width: 60rem;
    margin: auto auto;

}
.relative {
    position: relative;

}
.textmitte {
    text-align: center;
}
.buttonmitte {
    margin: auto auto;
}
.Font1 {
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 40%;
    right: 50%;
    
  }

/***************** eo Global *******************/ 
section {
    background-color: #FBeec1;
}
.header {
    height: 20vh;
}
.header .logo {
    height: 15vh;
}

.Aufmacher {
    height: 60%;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 21%;
    right: 21%;
    margin-top: 30px;
}

.hero {
    background-image: url(../forelleonline.de/img/OH71GF0.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
}

.content {
    height: 85vh;
}
.footer {
    height: 20vh;
}


.white {background-color: #ffffff ;}
.color1 {background-color: #8d8741;}
.color2 {
    background-color: #659dbd;
}
.color3 {
    background-color: #DAAD86;
}
.color4 {
    background-color: #BC986a;
}
.color5 {
    background-color: #FBeec1;
}
.color5 {
    background-color: #fcefe3;
}